# Large archives
*.rar

# Large media/data artifacts
*.mp4
*.cache

# Local training datasets (keep locally, don't push)
wzry/datasets/
wzry/wzry_model.yaml
wzry/wzry_parameter.yaml
.cometml-runs/7fb840f112e243d49baed305d4e2bbed.zip
.cometml-runs/33e928a8dad94bc691b748551dc937dc.zip
.cometml-runs/46b3fafe0a7a4db686b1893df06aa427.zip
.cometml-runs/59abb764aaa84f37b1399c79a79520d7.zip
.cometml-runs/78d200fe39ea4a888b89f5b453795a01.zip
.cometml-runs/315780fbc6424bf6abb16b4c8ac8606d.zip
.cometml-runs/a1d914b7fd2042569f9118443a179444.zip
yolov5/packtxt/Screenshot_20210726_111644_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111646_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111647_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111648_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111649_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111652_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111654_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111712_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111716_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111716_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111717_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111719_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111721_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111722_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111723_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111725_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111726_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111727_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111729_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111730_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111732_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111733_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111734_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111736_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111739_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111740_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111753_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111753_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111754_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111755_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111756_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111758_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111802_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111802_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111803_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111805_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111819_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111819_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111820_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111821_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111821_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111822_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111823_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111824_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111828_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111833_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111833_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111838_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111839_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111839_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111840_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111840_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111841_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111842_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111849_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111850_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111851_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111851_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111852_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111859_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111900_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111900_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111912_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111914_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111914_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111915_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111915_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111916_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111917_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111919_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111921_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111922_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111923_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111925_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111925_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111927_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111928_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111929_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111929_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111930_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111931_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111931_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111932_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111933_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111934_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111936_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111937_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111948_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_111952_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112001_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112001_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112002_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112002_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112003_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112010_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112011_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112012_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112012_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112013_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112014_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112015_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112016_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112017_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112019_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112020_1_com.huawei.himovie.txt
yolov5/packtxt/Screenshot_20210726_112020_com.huawei.himovie.txt
yolov5/wzry/wzry_model.yaml
yolov5/wzry/wzry_parameter.yaml
yolov5/wzry/datasets/labels/train.cache.npy
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111644_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111646_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111647_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111648_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111649_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111652_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111654_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111712_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111716_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111716_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111717_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111719_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111721_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111722_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111723_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111725_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111726_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111727_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111729_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111730_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111732_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111733_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111734_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111736_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111739_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111740_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111753_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111753_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111754_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111755_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111756_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111758_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111802_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111802_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111803_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111805_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111819_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111819_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111820_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111821_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111821_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111822_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111823_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111824_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111828_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111833_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111833_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111838_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111839_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111839_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111840_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111840_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111841_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111842_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111849_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111850_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111851_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111851_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111852_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111859_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111900_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111900_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111912_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111914_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111914_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111915_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111915_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111916_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111917_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111919_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111921_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111922_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111923_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111925_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111925_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111927_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111928_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111929_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111929_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111930_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111931_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111931_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111932_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111933_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111934_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111936_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111937_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111948_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_111952_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112001_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112001_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112002_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112002_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112003_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112010_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112011_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112012_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112012_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112013_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112014_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112015_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112016_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112017_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112019_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112020_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train/Screenshot_20210726_112020_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111644_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111646_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111647_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111648_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111649_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111652_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111654_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111712_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111716_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111716_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111717_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111719_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111721_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111722_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111723_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111725_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111726_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111727_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111729_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111730_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111732_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111733_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111734_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111736_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111739_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111740_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111753_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111753_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111754_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111755_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111756_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111758_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111802_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111802_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111803_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111805_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111819_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111819_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111820_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111821_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111821_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111822_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111823_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111824_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111828_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111833_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111833_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111838_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111839_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111839_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111840_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111840_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111841_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111842_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111849_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111850_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111851_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111851_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111852_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111859_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111900_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111900_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111912_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111914_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111914_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111915_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111915_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111916_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111917_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111919_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111921_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111922_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111923_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111925_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111925_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111927_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111928_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111929_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111929_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111930_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111931_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111931_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111932_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111933_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111934_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111936_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111937_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111948_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_111952_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112001_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112001_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112002_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112002_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112003_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112010_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112011_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112012_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112012_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112013_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112014_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112015_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112016_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112017_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112019_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112020_1_com.huawei.himovie.txt
yolov5/wzry/datasets/labels/train_backup_20260408_233533/Screenshot_20210726_112020_com.huawei.himovie.txt
wzry/wzry_model.yaml
wzry/wzry_parameter.yaml
